* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
html {
  font-size: 1.125rem;
}

h1,
h2 {
  margin: 0;
}

p + p {
  margin-bottom: 0;
}

.max-width-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 370px;
  margin: 0 24px;
  padding: 96px 0 48px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk p {
  font-size: 1.25rem;
}

.title {
  margin-bottom: 48px;
}

main {
  border-top: 4px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding: 64px 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
  padding: 8px 24px 24px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  margin-left: -32px;
  font-size: 1.5rem;
  width: fit-content;
  width: -moz-fit-content;
}
